@import url('https://fonts.googleapis.com/css2?family=Rochester&display=swap');
*{
    
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Rochester', cursive;
}
::selection{
    color: #ffffff;
    background: rgb(236, 225, 72);
}
body{
    width: 100%;
    height: 100vh;
    padding: 10px;
    background: linear-gradient(to right, #feac5e, #c779d0, #4bc0c8);
}
.wrapper{
    background: #fff;
    max-width: 400px;
    width: 100%;
    margin: 120px auto;
    padding: 25px;
    border-radius: 5px;
    box-shadow: 0px 10px 15px rgba(0,0,0,0.1);
}
.wrapper header{
    font-size: 50px;
    font-weight: 600;
}
.wrapper .inputField{
    margin: 20px 0;
    width: 100%;
    display: flex;
    height: 45px;
}
.inputField input{
    width: 85%;
    height: 100%;
    outline: none;
    border-radius: 3px;
    border: 1px solid #ccc;
    font-size: 17px;
    padding-left: 15px;
    transition: all 0.3s ease;
}
.inputField input:focus{
    border-color: #ffbb00;
}
.inputField button{
    width: 50px;
    height: 100%;
    border: none;
    color: #000;
    margin-left: 5px;
    font-size: 21px;
    outline: none;
    background: #eef10e;
    cursor: pointer;
    border-radius: 3px;
    opacity: 0.8;
    pointer-events: none;
    transition: all 0.3s ease;
}
.inputField button:hover,
.footer button:hover{
    background: #eef10e;
}
.inputField button.active{
    opacity: 1;
    pointer-events: auto;
}
.wrapper .todoList{
    max-height: 250px;
    overflow-y: auto;
}
.todoList li{
    position: relative;
    list-style: none;
    height: 45px;
    line-height: 45px;
    margin-bottom: 8px;
    background: #f2f2f2;
    border-radius: 3px;
    padding: 0 15px;
    cursor: default;
    overflow: hidden;
}
.todoList li .icon{
    position: absolute;
    right: -45px;
    background: #fff;
    width: 45px;
    text-align: center;
    color: #000;
    border-radius: 0 3px 3px 0;
    cursor: pointer;
    transition: all 0.2s ease;
}
.todoList li:hover .icon{
    right: 0px;
}
.wrapper .footer{
    display: flex;
    width: 100%;
    margin-top: 20px;
    align-items: center;
    justify-content: space-between;
}
.footer button{
    padding: 6px 10px;
    border-radius: 3px;
    border: none;
    outline: none;
    color: #000;
    font-weight: 400;
    font-size: 16px;
    margin-left: 5px;
    background: #e779cc;
    cursor: pointer;
    user-select: none;
    opacity: 0.9;
    pointer-events: none;
    transition: all 0.3s ease;
}
.footer button.active{
    opacity: 1;
    pointer-events: auto;
}